<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <b>LOGIN</b>
        </div>
        <div class="card-body p-4">

        <label style="float: left;">Email</label>
        <input class="form-control m-2" type="email" placeholder="Ingrese email" [(ngModel)]="usuario.email">

        <label style="float: left;">password</label>
        <input class="form-control m-2" type="password" placeholder="Ingrese password" [(ngModel)]="usuario.password">
        
        <button class="btn btn-primary btn-block m-2" (click)="ingresar()" routerLink="/home">Ingresar</button>
        <button class="btn btn-info btn-block m-2" (click)="ingresarcongoogle()" routerLink="/home">Ingresar con google</button>
        <label >Aun no tienes cuenta? <a routerLink="/register">Registrate</a></label>
    </div>
</div>
